* { margin:0; padding:0 }
a { text-decoration: none; color: #ffffff; }

header, nav, main, aside, footer, section, article {
	display:block;
}

li {
	list-style: none;
}

body {
	background-color: #c3d4e3;
	color: #ffffff;
	font-family: arial;
	font-size: 10px;
}

#wrapper {
	margin: auto;
	width: 1024px;
}

#buttons {
	padding: 20px;
}

#buttons input {
	margin-right: 15px;
}

#thumbnails {

}

#thumbnails .picblock {
	display: block;
	width: 150px;
	height: 150px;
	float: left;
	padding: 10px;
}

#thumbnails p {
	text-align: center;

}

#thumbnails .hidden {
	display: none;
	width: 150px;
}

#thumbnails .hidden button {
	width: 72px;
}

#thumbnails img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#thumbnails .picblock:hover .hidden {
	display: block;
}

.clear {
	clear: both;
}