* { margin:0; padding:0 }
a { text-decoration: none; color: #ffffff; }

header, nav, main, aside, footer, section, article {
	display:block;
}

li {
	list-style: none;
}

body {
	background: linear-gradient(90deg, #c3d4e3 0%,#89aab7 100%);
	/*background-color: #c3d4e3;*/
	color: #ffffff;
	font-family: arial;
	font-size: 11px;
	height: 100%;
}

.clear {
	clear: both;
}

#wrapper {
	margin: auto;
	width: 1024px;
	transition: 0.3s ease;
}

.space {
	margin-top: 7px;
	margin-bottom: 7px;
	height: 1px;
	background-image: url("./LightDivider.png");
	background-size: 100%;
}

#buttons {
	padding: 20px;
	margin: auto;
	width: 680px;
	overflow: hidden;
}

#buttons input {
	margin-right: 15px;
}

#thumbnails .picblock {
	display: block;
	width: 150px;
	height: 150px;
	float: left;
	padding: 10px;
}

#thumbnails .picblock a {
	position: absolute;
	display: block;
	width: 150px;
	height: 150px;
}

#thumbnails .picblock img {
	position: absolute;
	display: block;
	margin-right: auto;
	margin-left: auto;
	z-index: -1;
	box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.75);
	opacity: 1;
	transition: opacity 0.3s ease;
}

#thumbnails .picblock img.hide {
	opacity: 0;
}

#thumbnails .hidden {
	opacity: 0;
	width: 150px;
	position: relative;
	transition: opacity 0.3s ease;
}

#thumbnails .hidden:hover {
	opacity: 1;
}

#thumbnails .hidden p {
	text-align: center;
	z-index: 100;
	text-shadow: 1px 1px 3px #000;
}

#thumbnails .hidden p + p + p {
	margin-bottom: 90px;
}

#thumbnails .hidden button {
	width: 70px;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #fff;
	opacity: 0.4;
	border: 2px solid #100037;
	border-radius: 2px;
	float: right;
}

#thumbnails .hidden button:hover {
	cursor: pointer;
	opacity: 0.8;
}

#thumbnails .picblock:hover .hidden {
	display: block;
}

.replaceButtomWrapper {
	display: block;
	width: 66px;
	height: 18px;
	overflow: hidden !important;
	background-color: #fff;
	opacity: 0.4;
	font-size: 14px;
	text-align: center;
	float: left;
	margin-right: 5px;
	border: 2px solid #100037;
	border-radius: 2px;
	color: #000;
}

.replaceButtomWrapper:hover {
	cursor: pointer;
	opacity: 0.8;
}

.replaceButton {
	display: none;
}